doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ICQ

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 ICQ
      section
        h2 Apa itu ICQ ?
        h3 ICQ (" I Seek You ") merupakan sebuah system pesan instant  yang memungkinkan para pengguna internet bisa berkomunikasi dengan menggunakan teks ( chat ), mengirim dan menerima file, dan bermain games.
      section
        h2 Bagaimanakah sejarah perkembangan ICQ ?
        h3 ICQ dikembangkan dan dipopulerkan oleh perusahaan asal Israel, Mirabilis. Pada tanggal 8 Juni 1998, ICQ dibeli oleh perusahaan bernama America Online (AOL) dengan harga US$407 juta.
      section
        h2 Lanjutan sejarah ICQ 
        h3 Pada bulan April 2013, kepemilikan ICQ kemudian berpindah tangan menjadi milik DST (Digital Sky Technologies) dengan harga beli sebesar US$187,5 juta. Alasan DST membeli ICQ dikarenakan pada saat itu, hampir 25% dari pengguna ICQ berasal dari Rusia.
      section
        h2 Lanjutan sejarah ICQ 
        h3 Dibawah Kepemimpinan CEO yang baru, Orey Gilliam, DST telah mengubah ICQ menjadi perangkat lunak yang berkembang pesat dan menjadi bisnis yang sangat menguntungkan perusahaan. S/d tahun 2014, ICQ telah memiliki pengguna lebih dari 27 juta orang di seluruh dunia.
      section
        h2 Versi-versi apa yang pernah dikeluarkan ICQ ?
        h3 ICQ 1.02b, ICQ 1.11, ICQ 1.112, ICQ 1.12, ICQ 1.113, ICQ 1.13, ICQ 98a, ICQ 98a107, ICQ 98a130, ICQ 99b, ICQ 2000a, ICQ 2000b, ICQ 2001b dan ICQ 2002. Versi ini hanya menyediakan fitur chatting bagi user.
      section
        h2 Lanjutan versi ICQ
        h3 ICQ 4 dan ICQ 5 / ICQ Lite menyediakan fitur Xtraz dimana fitur ini menawarkan permainan yang dikhususkan kepada pengguna yang masih remaja dan memperkenalkan dukungan skin, yakni pengubahan tampilan tema pada ICQ.
      section
       h2 Lanjutan versi ICQ
       h3 ICQ 6 menyediakan fitur untuk mengirim audio dan video kepada user lain dalam chat room. ICQ 7 memungkinkan pengguna untuk mengubah status seperti yang ada pada Windows Live Messenger.
      section
        h2 Lanjutan versi ICQ
        h3 ICQ 8 dan yang terbaru versi 8.2.7033 menyediakan fitur seperti new design / desain baru, Free video call, low cost phone call, Multiple Instance login, Email notification, Social Network.	
      section
        h2 Free Video Calls
        h3 Lihat keluarga dan teman anda kapan pun anda mau dengan ICQ Video Calls gratis. Berkat HD video Calls , anda sekarang bisa merasakan kenikmatan pembicaraan antar muda dimana pun anda berada
      <img src="video.png" width="300" height="200" positon:absolute>
      section
        h2 Free Voice Calls
        h3 Buatlah Voice Call secara gratis kepada teman dan keluarga anda dari seluruh dunia. Nikmatilah kualitas suara yang bagus dan bicara dengan gratis selama yang anda mau.
        <img src="voice.jpg" width="300" height="200" positon:absolute>
      section
        h2 Call Any Phone Number
        h3 Dengan ICQ Versi 8 anda bisa melakukan panggilan kepada mobile phone dan sambungan telepon dimana pun didunia ini. Gunakanlah Free ICQ Voice Call untuk membuat panggilan lokal atau internasional pada ICQ, simpan uang dengan pemanggilan harga rendah terhadap negara manapun.
        <img src="call.jpg" width="300" height="200" positon:absolute>
      section
        h2 Quick Login
        h3 Masuk ke dalam ICQ sangatlah cepat dan mudah. Masuk dengan nomor ponsel anda dan mulai ber-chatting.
        <img src="quick1.jpg" width="300" height="200" positon:absolute>
      section
        h2 Quick Login
        h3 Masuk dengan ponsel anda. Cepat, mudah dan juga cara yang paling aman untuk masuk. Untuk masuk dengan ponsel anda, ajukan kode aktivasi yang dikirim kepada anda dari SMS. Anda juga bisa masuk dengan akun Facebook anda, Ofnoklassniki atau pun akun rincian Vkontakte. Semua teman anda akan keluar dalam daftar kontak jadi anda bisa memulai obrolan secara langsung dari ICQ.
      <img src="quick2.jpg" width="300" height="200" positon:absolute>
      section
        h2 Social Network
        h3 ICQ menyediakan fitur untuk mengizinkan user berkoneksi dengan social network seperti facebook, twitter dan lain-lain.
        h3 Saat user membuat akun ICQ, maka langsung terdapat logo facebook,twitter di dalam list ICQ. user langsung bisa mengklik dan langsung dapat chat dalam Facebook.
      <img src="social.jpg" width="300" height="200" positon:absolute>
      section
        h2 Share photos and videos
        h3 Sama halnya di Gmail,anda juga dapat mengirim file berupa foto atau video ke kontak ICQ Anda dan teman Anda di Facebook, Odnoklassniki dan Vkontakte.
      <img src="share.jpg" width="300" height="200" positon:absolute>
      section
        h2 Multi-Instance Login
        h3 User tidak akan ketinggalan berkomunikasi dengan menggunakan ICQ, bahkan ketika sedang berganti perangkat. ICQ memungkinkan user untuk tetap login secara bersamaan baik dari komputer, perangkat mobile ataupun web-interface.
      <img src="multi.jpg" width="300" height="200" positon:absolute>
      section
        h2 Email Notifications
        h3 Di ICQ 8,bila anda menghubungkan email anda ke ICQ,ICQ akan memberitahukan adanya pesan baru di Gmail,Yahoo mail dan Mail.Ru inbox anda sehingga anda tetap bisa santai berchatting tanpa harus merasa was-was ada pesan baru atau tidak dari email anda.
      <img src="email.jpg" width="300" height="200" positon:absolute>
      section
        h2 Chat History
        h3 Pesan,percakapan serta video yang telah dikirim akan disimpan dalam chat history. tujuan dibuat fitur Chat Story adalah agar lebih mudah mencari pesan tertentu dengan cepat dan moment-moment dalam percakapan. User juga dapat mematikan fitur Chat history kapan user berada. Data-data tersebut disimpan dalam komputer anda. biasanya terdapat dalam C:/Documents and Settings/(your username)/Application Data/ICQ/(your ICQ number).
      <img src="chat.jpg" width="300" height="200" positon:absolute>
      section
        h2 Emoticons
        h3 User dapat mengekspresikan dirinya dengan emoticon yang penuh warna dan beranimasi sebab ICQ menyediakan emoticon dan animasi yang akan membuat user dengan mudah mengekspresikan suasana hatinya. 
      <img src="emo.jpg" width="300" height="200" positon:absolute>
      section
        h2 Themes
        h3 User dapat memggunakan themes untuk menciptakan keunikan ICQ miliknya sendiri baik dengan beragam tema yang tersedia ataupun secara sederhana memilih warna saja.
      <img src="themes.jpg" width="300" height="200" positon:absolute>
      section
        h2 Moods
        h3 Fitur baru yang disediakan ICQ yaitu mood. Di fitur ini,anda dapat mengubah ikon dan teks secara bersamaan di status mood anda. Pilih ikon yang sesuai dengan perasaan anda saat ini sertakan juga dengan teks dan simpan,dan status mood anda akan memperlihatkan mood anda hari ini. 
      <img src="moods.jpg" width="300" height="200" positon:absolute> 
      section
        h2 Microblog
        h3 Berbagilah berita terhangat dengan teman anda via  Microblog ICQ. Tanyakan nasihat, berbagi informasi yang berguna atau memposting candaan lucu yang sederhana. Teman anda juga dapat memberi komentar pada posting Microblog anda.
      <img src="micro.jpg" width="300" height="200" positon:absolute>
      section
        h2 Cara menginstall ICQ di Linux Ubuntu
        h3 1. Buka menu bar di desktop anda. Pilih application->Internet->Pidgin Internet Messenger.
        <img src="first.png" width="400" height="250" position:absolute>
      section
        h2 Cara menginstall ICQ di Linux Ubuntu
        h3 2. Lihat icon di sudut kanan desktop anda, lalu klik icon tersebut.
        <img src="second.png" width="400" height="250" positon:absolute>
      section
        h2 Cara menginstall ICQ di Linux Ubuntu
        h3 3. Klik menu Accounts->Manage Accounts untuk menambahkan akun ICQ anda.
        <img src="third.png" width="400" height="250" positon:absolute>
      section
        h2 Cara menginstall ICQ di Linux Ubuntu
        h3 4. Klik tombol Add, anda akan melihat tampilan seperti dibawah ini dari menu drop-down, kemudian pilih MySpaceIM.
        <img src="fourth.png" width="400" height="250" positon:absolute>
      section
        h2 Install ICQ for windows 7/8
        h3 1. download installer ICQ di www.ICQ.com/en, double klik installer maka akan muncul gambar berikut
        <img src="icq1.png" width="400" height="250" positon:absolute>
      section
        h2 Instal ICQ for windows 7/8
        h3 2. Setelah install maka akan muncul icon ICQ pada desktop dan juga pada taskbar desktop.
        <img src="icq2.jpg" width="300" height="200" positon:absolute>
      section
        h2 Cara Install ICQ Untuk Iphone
        h3 Anda Bisa Menginstall ICQ pada Iphone dengan membuka App Store dan pada SearchBox tuliskan "icq", setelah keluar pilih App-nya dan click install
      section
        h2 Tampilan ICQ Pada Iphone
      h3 <img src="1.jpg" width="210" height="500" position:absolute>
      h3 <img src="2.jpg" width="250" height="500" position:absolute>
      h3 <img src="3.jpg" width="250" height="500" position:absolute>
      h3 <img src="4.jpg" width="230" height="500" position:absolute>
      h3 <img src="5.jpg" width="230" height="500" position:absolute>
      section
        h2 Cara install ICQ di Mac
        h3 Pertama klik link http://download.icq.com/download/mac/en di browser anda,tampilannya akan seperti ini dan klik download ICQ for Mac
        <img src="download mac.jpg" width="400" height="200" position:absolute>
      section
        h2 Cara install ICQ di Mac
        h3 Setelah download selesai,buka dan akan muncul seperti ini 
        <img src="install mac.png" width="300" height="200" position:absolute>
        h3 Klik continue dan pesan konfirmasi akan muncul
      section
        h2 Cara install ICQ di Mac
        <img src="open mac.png" width="300" height="200" position:absolute>
        h3 klik open
      section 
        h2 Cara install ICQ di Mac
        h3 dan tampilannya ICQ akan seperti ini
        <img src="tampilan mac.png" width="180" height="430" position:absolute>
        h3 ICQ siap untuk digunakan
      section
        h2 Cara Install ICQ di Mobile
        h3 ICQ for mobile tidak hanya tersedia untuk mobile-mobile terkenal seperti android atau Iphone saja,tapi banyak jenis mobile yang dapat menggunakan ICQ,diantaranya Android, Iphone, Blackberry, Java, Windows Phone 7, Symbian, Bada dan juga Windows Mobile.
      section
        h2 Cara Install ICQ di Mobile
        h3 Cara install ICQ di mobile dari web ICQ cukup sederhana, kamu cukup memasukkan kode negara dan no hp kamu,dan ICQ akan mengirimkanmu sebuah SMS berupa link download ICQ gratis . Disini akan saya berikan instruksinya.
      section
        h2 Cara Install ICQ di Mobile
        h3 buka web ICQ www.icq.com
        <img src="s1.jpg" width="500" height="400" position:absolute>
      section
        h2 Cara Install ICQ di Mobile
        h3 arahkan pointer kamu ke tab downloads seperti ini
        <img src="download mobile.jpg" width="480" height="320" position:absolute>
        h4 Pilih jenis mobile kamu
      section
        h2 Cara Install ICQ di Mobile
        <img src="s3.jpg" width="500" height="380" position:absolute>
        h3 masukkan kode negara dan no mobile kamu
      section
        h2 Cara Install ICQ di Mobile
        h3 Tunggu beberapa saat dan kamu akan menerima SMS yang di dalamnya berupa link, buka link tersebut, ikuti petunjuknya hingga selesai.
      section
        h2 Cara Install ICQ di Mobile
        h3 Dan bila cara tadi tidak berhasil, kami juga menawarkan beberapa cara lain yang boleh dicoba (bila mau). 
        h3 Berikut Caranya
      section
        h2 Cara Install ICQ Untuk Iphone
        h3 Untuk Iphone,anda bisa menginstall ICQ dengan membuka App Store dan pada SearchBox tuliskan "icq messenger", setelah keluar pilih aplikasinya dan klik install
      section
        h2 Cara Install ICQ Untuk Iphone
        h3 Bila berhasil maka tampilan ICQ Pada Iphone akan seperti ini
        <img src="1.jpg" width="200" height="220" position:absolute>
      section 
        h2 Cara Install ICQ Untuk Iphone
        <img src="2.jpg" width="200" height="220" position:absolute>
      section
        h2 Cara Install ICQ Untuk Iphone
        <img src="3.jpg" width="200" height="220" position:absolute>
      section
        h2 Cara install ICQ di Blackberry
        h3 Untuk Blackberry,kamu dapat membuka Blackberry world,terus sign in kemudian cari aplikasi ICQ Messenger dengan menggunakan search
      section
        h2 Cara install ICQ di Blackberry
        h3 dan muncul tampilan seperti ini
        <img src="bb world.png" width="400" height="200" position:absolute>
        h3 klik download dan tunggu hingga selesai
       section
        h2 Cara install ICQ di Blackberry
        h3 dan untuk Blackberry tampilannya akan seperti ini
        <img src="bb icq.jpg" width="200" height="340" position:absolute>
      section 
        h2 Cara install ICQ di Windows Mobile dan Java
        h3 Untuk Windows Mobile dan Java,kamu dapat mendownloadnya dengan PC atau download di http://mim.icq.com dari browser kamu
      section 
        h2 Cara install ICQ di Windows Mobile dan Java
        h3 Tampilan untuk ICQ di Windows Mobile:
        <img src="Windowsphone2.jpg" width="400" height="200" position:absolute>
      section
        h2 Cara Install ICQ di Windows Mobile dan Java
        h3 Tampilan ICQ di Java:
        <img src="java icq.png" width="200" height="340" position:absolute>
      section
        h2 Cara Install ICQ Pada Symbian
        h3 Kamu bisa pergi ke website www.icq.com untuk mendownload aplikasi pada jenis OS ini dari browser kamu, atau kamu dapat memilih salah satu dari kedua link ini 
        <img src="s4.jpg" width="500" height="250" position:absolute>
      section
        h2 Cara Install ICQ Pada Windows Phone 7
        h3 Untuk Windows Phone 7,kamu bisa langsung mencarinya menggunakan Windows Store di HH anda, atau pun pergi ke Website Windows Phone
        <img src="wp.jpg" width="300" height="200" positon:absolute>
      section
        h2 Chat Dengan Teman Facebook
        h3 Anda bisa melakukan chatting dengan teman Facebook anda jika anda melakukan login menggunakan akun Facebook anda pada ICQ. Teman anda akan melihat anda seperti membuka facebook seperti biasanya dan tidak akan tahu bahwa anda menggunakan ICQ.
        <img src="f.jpg" width="300" height="150" positon:absolute>
      section
        h2 Log-In
        h3 Anda bisa melakukan login ke dalam ICQ dengan menggunakan akun ICQ yang anda registrasikan di website resmi ICQ atau pun bisa masuk dengan menggunakan akun facebook dan juga nomor ponsel anda yang pastinya anda registrasikan terlebih dahulu dimana lagi kalau bukan di website resmi ICQ, www.icq.com
        h3 <img src="l2.jpg" width="270" height="140" position:absolute>   <img src="l1.jpg" width="270" height="140" position:absolute>
      section 
        h2 Cara install ICQ di Android
        h3 Untuk Android,kamu dapat mendownloadnya dari google play,cari ICQ messenger dan download
      section 
        h2 Cara install ICQ di Android
        h3 Tampilan ICQ setelah anda sukses menginstall di android anda.
        <img src="android1.png" width="400" height="230" position:absolute>
      section
        h2 Cara install ICQ di Bada
        h3 untuk menginstall ICQ di hp bada,kamu dapat membuka www.icq.com dari browser hp kamu,dan download secara langsung 
      section
        h2 Cara install ICQ di Bada
        h3 dan tampilan ICQ di bada mobile:
        <img src="bada.png" width="250" height="400" position:absolute>
      section
        h2 Register  ICQ
        h3 Saat Membuka aplikasi ICQ diperlukan username dan Password, maka user dapat mendaftar akun ICQ, caranya : klik register pada tampilan awal ICQ.
        <img src="login1.png" width="250" height="400" position:absolute>
      section 
        h2 Register ICQ
        h3 Maka akan muncul form Register, isi form dan klik send. Selanjutnya aktifasi dari email yang didaftarkan. dan Selamat chatting di ICQ.
        <img src="register.png" width="400" height="400" position:absolute>
      section 
        h2 Add Contact
        h3 Klik menu Contacts -> Add Contacts. Anda bisa memilih kategori pada kotak pencarian seperti : ICQ number, Email, nickname dan first or last name. Anda juga bisa menggunakan link Advanced Search untuk mencari berdasarkan Gender, Language, Names (first, last dan nickname), Age dan Country.
        <img src="Add_List_1.gif" width="350" height="200" position:absolute>
      section 
        h2 Add Contact
        h3 Ketika anda telah sukses menemukan teman anda, klik namanya kemudian klik tombol Add User.
        <img src="Add_List_2.gif" width="400" height="400" position:absolute>
      section 
        h2 Add Contact
        h3 Pada bagian Add Contact, klik tombol Add. Anda juga bisa melihat perincian profil mereka ataupun mengirim pesan kepadanya.
        <img src="Add_List_3.gif" width="400" height="400" position:absolute>
      section
        h2 Ignore Contact
        h3 Ketika ada orang tertentu yang anda harapakan tidak menerima pesannya lagi, anda dapat menggunakan menu Ignore Contact. 
        <img src="Remove_list.jpg" width="400" height="400" position:absolute>
      section
        h2 Ignore Contact
        h3 Ketika anda ingin berhenti meng-ignore kontak seseorang, anda bisa masuk ke Menu -> How my contacts see me.
        <img src="Remove_list2.jpg" width="400" height="370" position:absolute>
      section
        h2 Ignore Contact
        h3 Pada tab "People i ignore", checklist nama kontaknya dan klik "Remove from list". 
        <img src="Remove_list3.jpg" width="400" height="400" position:absolute>
      section
        h2 Send Message
        h3 Untuk memulai messaging, user dapat meng-doubleklik nama pada contact list user.
        <img src="message1.jpg" width="300" height="400" positon:absolute>
      section
        h2 Send Message
        h3 Ketik Pesan yang ingin disampaikan, bisa juga menambahkan emoticon, setelah selesai klik Send.
        <img src="message2.jpg" width="300" height="400" positon:absolute>
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild