doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ICQ

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 ICQ
      section
        h2 Apa itu ICQ ?
        h3 ICQ (" I Seek You ") merupakan sebuah system pesan instant  yang memungkinkan para pengguna internet bisa berkomunikasi dengan menggunakan teks ( chat ), mengirim dan menerima file, dan bermain games.
      section
        h2 Bagaimanakah sejarah perkembangan ICQ ?
        h3 ICQ dikembangkan dan dipopulerkan oleh perusahaan asal Israel, Mirabilis. Pada tanggal 8 Juni 1998, ICQ dibeli oleh perusahaan bernama America Online (AOL) dengan harga US$407 juta.
      section
        h2 Lanjutan sejarah ICQ 
        h3 Pada bulan April 2013, kepemilikan ICQ kemudian berpindah tangan menjadi milik DST (Digital Sky Technologies) dengan harga beli sebesar US$187,5 juta. Alasan DST membeli ICQ dikarenakan pada saat itu, hampir 25% dari pengguna ICQ berasal dari Rusia.
      section
        h2 Lanjutan sejarah ICQ 
        h3 Dibawah Kepemimpinan CEO yang baru, Orey Gilliam, DST telah mengubah ICQ menjadi perangkat lunak yang berkembang pesat dan menjadi bisnis yang sangat menguntungkan perusahaan. S/d tahun 2014, ICQ telah memiliki pengguna lebih dari 27 juta orang di seluruh dunia.
      section
        h2 Versi-versi apa yang pernah dikeluarkan ICQ ?
        h3 ICQ 1.02b, ICQ 1.11, ICQ 1.112, ICQ 1.12, ICQ 1.113, ICQ 1.13, ICQ 98a, ICQ 98a107, ICQ 98a130, ICQ 99b, ICQ 2000a, ICQ 2000b, ICQ 2001b dan ICQ 2002. Versi ini hanya menyediakan fitur chatting bagi user.
      section
        h2 Lanjutan versi ICQ
        h3 ICQ 4 dan ICQ 5 / ICQ Lite menyediakan fitur Xtraz dimana fitur ini menawarkan permainan yang dikhususkan kepada pengguna yang masih remaja dan memperkenalkan dukungan skin, yakni pengubahan tampilan tema pada ICQ.
      section
       h2 Lanjutan versi ICQ
       h3 ICQ 6 menyediakan fitur untuk mengirim audio dan video kepada user lain dalam chat room. ICQ 7 memungkinkan pengguna untuk mengubah status seperti yang ada pada Windows Live Messenger.
      section
        h2 Lanjutan versi ICQ
        h3 ICQ 8 dan yang terbaru versi 8.2.7033 menyediakan fitur seperti new design / desain baru, Free video call, low cost phone call, Multiple Instance login, Email notification, Social Network.	

      section
        h2 Free Video Calls
        h3 Lihat keluarga dan teman anda kapan pun anda mau dengan ICQ Video Calls gratis. Berkat HD video Calls , anda sekarang bisa merasakan kenikmatan pembicaraan antar muda dimana pun anda berada
      section
        h2 Free Video Calls
        h4 Keluar kota atau pun pekerjaan yang menumpuk tidaklah lagi menjadi alasan untuk kehilangan waktu melihat orang yang anda cintai. Dengan ICQ Video Calls keluarga dan teman anda tinggal sekali panggil Dapat peliharaan baru? Menerima alat baru? silahkan, mulailah video call dalam ICQ dan sebarkan berita dengan teman anda.
      section
        h2 Free Voice Calls
        h3 Buatlah Voice Call secara gratis kepada teman dan keluarga anda dari seluruh dunia. Nikmatilah kualitas suara yang bagus dan bicara dengan gratis selama yang anda mau.
      section
        h2 Free Voice Calls
        h3 Lakukan Panggilan Kapanpun Anda Mau
        h4 Apakah anda hanya mau mendengar suara dari orang yang anda cinti atau perlu mendiskusikan sesuatu yang penting, Gunakan panggilan gratis ICQ. Jangan biarkan jarak mengganggu anda. Pada saat anda berada ditempat yang sangat jauh dari keluarga dan teman anda , setiap menit dari pembicaran menjadi sangat berharga. Panggilah kontak ICQ anda secara gratis, tidak peduli dimanapun mereka berada.
      section
        h2 Call Any Phone Number
        h4 Dengan ICQ Versi 8 anda bisa melakukan panggilan kepada mobile phone dan sambungan telepon dimana pun didunia ini. Gunakanlah Free ICQ Voice Call untuk membuat panggilan lokal atau internasional pada ICQ, simpan uang dengan pemanggilan harga rendah terhadap negara manapun.
      section
        h2 Quick Login
        h3 Masuk ke dalam ICQ sangatlah cepat dan mudah. Masuk dengan nomor ponsel anda dan mulai ber-chatting.
      section
        h2 Quick Login
        h4 Masuk dengan ponsel anda. Cepat, mudah dan juga cara yang paling aman untuk masuk. Untuk masuk dengan ponsel anda, ajukan kode aktivasi yang dikirim kepada anda dari SMS. Anda juga bisa masuk dengan akun Facebook anda, Ofnoklassniki atau pun akun rincian Vkontakte. Semua teman anda akan keluar dalam daftar kontak jadi anda bisa memulai obrolan secara langsung dari ICQ.
      section
        h2 Social Network
        h4 ICQ menyediakan fitur untuk mengizinkan user berkoneksi dengan social network seperti facebook, twitter dan lain-lain.
        saat user membuat akun ICQ, maka langsung terdapat logo facebook,twitter di dalam list ICQ. user langsung bisa mengklik dan langsung dapat chat dalam Facebook.
      section
        h2 Share photos and videos
        h4 Sama halnya di Gmail,anda juga dapat mengirim file berupa foto atau video ke kontak ICQ Anda dan teman Anda di Facebook, Odnoklassniki dan Vkontakte. 
      section
        h2 Multi-Instance Login
        h3 User tidak akan ketinggalan berkomunikasi dengan menggunakan ICQ, bahkan ketika sedang berganti perangkat. ICQ memungkinkan user untuk tetap login secara bersamaan baik dari komputer, perangkat mobile ataupun web-interface.
      section
        h2 Email Notifications
        h4 Di ICQ 8,bila anda menghubungkan email anda ke ICQ,ICQ akan memberitahukan adanya pesan baru di Gmail,Yahoo mail dan Mail.Ru inbox anda sehingga anda tetap bisa santai berchatting tanpa harus merasa was-was ada pesan baru atau tidak dari email anda.
      section
        h2 Chat History
        h3 Pesan,percakapan serta video yang telah dikirim akan disimpan dalam chat history. tujuan dibuat fitur Chat Story adalah agar lebih mudah mencari pesan tertentu dengan cepat dan moment-moment dalam percakapan. User juga dapat mematikan fitur Chat history kapan user berada. Data-data tersebut disimpan dalam komputer anda. biasanya terdapat dalam C:/Documents and Settings/(your username)/Application Data/ICQ/(your ICQ number).
      section
        h2 Emoticons
        h3 User dapat mengekspresikan dirinya dengan emoticon yang penuh warna dan beranimasi sebab ICQ menyediakan emoticon dan animasi yang akan membuat user dengan mudah mengekspresikan suasana hatinya. 
      section
        h2 Themes
        h3 User dapat memggunakan themes untuk menciptakan keunikan ICQ miliknya sendiri baik dengan beragam tema yang tersedia ataupun secara sederhana memilih warna saja.
      section
        h2 Moods
        h4 Fitur baru yang disediakan ICQ yaitu mood. Di fitur ini,anda dapat mengubah ikon dan teks secara bersamaan di status mood anda. Pilih ikon yang sesuai dengan perasaan anda saat ini sertakan juga dengan teks dan simpan,dan status mood anda akan memperlihatkan mood anda hari ini.  
      section
        h2 Microblog
        h3 Berbagilah berita terhangat dengan teman anda via  Microblog ICQ. Tanyakan nasihat, berbagi informasi yang berguna atau memposting candaan lucu yang sederhana. Teman anda juga dapat memberi komentar pada posting Microblog anda.  
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild