doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ICQ

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 ICQ
      section
        h2 Apa itu ICQ ?
        h3 ICQ (" I Seek You ") merupakan sebuah system pesan instant  yang memungkinkan para pengguna internet bisa berkomunikasi dengan menggunakan teks ( chat ), mengirim dan menerima file, dan bermain games.
      section
        h2 Bagaimanakah sejarah perkembangan ICQ ?
        h3 ICQ dikembangkan dan dipopulerkan oleh perusahaan asal Israel, Mirabilis. Pada tanggal 8 Juni 1998, ICQ dibeli oleh perusahaan bernama America Online (AOL) dengan harga US$407 juta.
      section
        h2 Lanjutan sejarah ICQ 
        h3 Pada bulan April 2013, kepemilikan ICQ kemudian berpindah tangan menjadi milik DST (Digital Sky Technologies) dengan harga beli sebesar US$187,5 juta. Alasan DST membeli ICQ dikarenakan pada saat itu, hampir 25% dari pengguna ICQ berasal dari Rusia.
      section
        h2 Lanjutan sejarah ICQ 
        h3 Dibawah Kepemimpinan CEO yang baru, Orey Gilliam, DST telah mengubah ICQ menjadi perangkat lunak yang berkembang pesat dan menjadi bisnis yang sangat menguntungkan perusahaan. S/d tahun 2014, ICQ telah memiliki pengguna lebih dari 27 juta orang di seluruh dunia.
      section
        h2 Versi-versi apa yang pernah dikeluarkan ICQ ?
        h3 ICQ 1.02b, ICQ 1.11, ICQ 1.112, ICQ 1.12, ICQ 1.113, ICQ 1.13, ICQ 98a, ICQ 98a107, ICQ 98a130, ICQ 99b, ICQ 2000a, ICQ 2000b, ICQ 2001b dan ICQ 2002. Versi ini hanya menyediakan fitur chatting bagi user.
      section
        h2 Lanjutan versi ICQ
        h3 ICQ 4 dan ICQ 5 / ICQ Lite menyediakan fitur Xtraz dimana fitur ini menawarkan permainan yang dikhususkan kepada pengguna yang masih remaja dan memperkenalkan dukungan skin, yakni pengubahan tampilan tema pada ICQ.
      section
       h2 Lanjutan versi ICQ
       h3 ICQ 6 menyediakan fitur untuk mengirim audio dan video kepada user lain dalam chat room. ICQ 7 memungkinkan pengguna untuk mengubah status seperti yang ada pada Windows Live Messenger.
      section
        h2 Lanjutan versi ICQ
        h3 ICQ 8 dan yang terbaru versi 8.2.7033 menyediakan fitur seperti new design / desain baru, Free video call, low cost phone call, Multiple Instance login, Email notification, Social Network.	
      section
        h2 Fitur ICQ 
        h3 1. Multi-Instance Login. User tidak akan ketinggalan berkomunikasi dengan menggunakan ICQ, bahkan ketika sedang berganti perangkat. ICQ memungkinkan user untuk tetap login secara bersamaan baik dari komputer, perangkat mobile ataupun web-interface.
      section
        h2 Fitur ICQ 
        h3 2. Emoticons. User dapat mengekspresikan dirinya dengan emoticon yang penuh warna dan beranimasi sebab ICQ menyediakan emoticon dan animasi yang akan membuat user dengan mudah mengekspresikan suasana hatinya.
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild